# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env
.venv/

# IDE Settings
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Flask
instance/
.webassets-cache

# Distribution / Packaging
dist/
build/
*.egg-info/
